name: CI

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  Build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 'node']

    steps:
      - name: Check out the code
        uses: actions/checkout@v4
      - name: Set up with Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Print Node.js version and CI environment
        run: |
          echo "Node.js version: $(node -v)"
          echo "Environment: CI=${{ env.CI }}"
      - name: Download dependencies
        run: npm ci
      - name: Test with Node.js ${{ matrix.node-version }}
        run: npm test

  Coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4
      - name: Set up with Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Download dependencies
        run: npm ci
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: ./node_modules/.bin/jest --coverage
