name: Test coverage

on:
  push:
    branches: [main, typescript]
  pull_request:
    branches: [main, typescript]

permissions:
  contents: read
  id-token: write

jobs:
  Coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v5
      - name: Set up with Node.js LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Download dependencies
        run: npm ci
      - name: Generate coverage report
        run: ./node_modules/.bin/jest --coverage
      - name: Upload coverage to Quality
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: coverage/lcov.info
