name: Publish Package to npmjs
permissions: {}
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm publish --provenance --access public
