name: Tests

on:
  push:
    branches: [main, typescript]
  pull_request:
    branches: [main, typescript]

permissions:
  contents: read

jobs:
  Main:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, lts/*, node]

    steps:
      - name: Check out the code
        uses: actions/checkout@v6
      - name: Set up with Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Print Node.js version and CI environment
        run: |
          echo "Node.js version: $(node -v)"
          echo "Environment: CI=${{ env.CI }}"
      - name: Download dependencies
        run: npm ci
      - name: Test with Node.js ${{ matrix.node-version }}
        run: npm test

  JSON:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, lts/*, node]

    steps:
      - name: Check out the code
        uses: actions/checkout@v6
      - name: Set up with Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Print Node.js version and CI environment
        run: |
          echo "Node.js version: $(node -v)"
          echo "Environment: CI=${{ env.CI }}"
      - name: Download dependencies
        run: npm ci
      - name: Run JSON spec tests with Node.js ${{ matrix.node-version }}
        run: npm run testSpecs

  Browser:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, lts/*, node]

    steps:
      - name: Check out the code
        uses: actions/checkout@v6
      - name: Set up with Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Print Node.js version and CI environment
        run: |
          echo "Node.js version: $(node -v)"
          echo "Environment: CI=${{ env.CI }}"
      - name: Download root dependencies
        run: npm ci
      - name: Clean browser dependencies
        working-directory: ./browser
        run: |
          rm -rf package-lock.json node_modules
      - name: Install browser dependencies
        working-directory: ./browser
        run: npm install
      - name: Run browser tests with Node.js ${{ matrix.node-version }}
        working-directory: ./browser
        run: npm test
